/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: url('./pexels-pixabay-280221.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.mainwithh1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color:#344242;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

.main-container:hover {
  transform: translateY(-5px);
}

.upper-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.selection-area, .side-section {
  width: 50%;
}

.selectionfeedback {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
}

.input-area {
  width: 100%;
  padding: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: #F5F5F5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, rgba(255, 182, 102, 0.7), rgba(135, 206, 250, 0.7));
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.input-area:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.input-area label {
  display: block;
  margin-bottom: 10px;
  color: #3E5151;
}

.input-area input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #C4C4C4;
  transition: border-color 0.3s ease;
}

.input-area input[type="text"]:focus {
  border-color: #3E5151;
}

/* BHK and Bathrooms Section */
.select-bhk, .select-bathrooms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.BHK-label, .bathrooms-label {
  width: 100px;
  margin-right: 20px;
  text-align: left;
  font-weight: bold;
  color: #3E5151;
}

.button-group {
  display: flex;
  gap: 10px;
}

.bhk-btn, .bathrooms-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #3E5151;
  color: #FFFFFF;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.bhk-btn:hover, .bathrooms-btn:hover {
  background-color: #2C3E3E;
  transform: scale(1.1);
}

.bhk-btn.active, .bathrooms-btn.active {
  background-color: #669f9f;
  transform: scale(1.1);
}

/* Location Section */
.location {
  margin-bottom: 20px;
}

.location select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #C4C4C4;
  transition: border-color 0.3s ease;
}

.location select:focus {
  border-color: #3E5151;
}

/* Output Section */
.output-section {
  width: 100%;
  padding: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: #F5F5F5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.output-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.estimate-price-btn {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3E5151;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.estimate-price-btn:hover {
  background-color: #2C3E3E;
  transform: scale(1.05);
}

.output {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.information-text {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

/* Feedback Section */
.feedback-section {
  width: 100%;
  padding: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(255, 182, 102, 0.8), rgba(135, 206, 250, 0.8));
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feedback-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.feedback {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #C4C4C4;
  transition: border-color 0.3s ease;
}

.feedback:focus {
  border-color: #3E5151;
}

.feedback-lbl {
  font-size: 25px;
  font-weight: bold;
  color: #3E5151;
}

.submit-btn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3E5151;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
  background-color: #2C3E3E;
  transform: scale(1.05);
}

/* Graph and Map Section */
.section-area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.graph-section, .map-section {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, rgba(255, 182, 102, 0.8), rgba(135, 206, 250, 0.8));
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
}

.graph-section:hover, .map-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.map-section iframe {
  width: 100%;
  height: 100%;
  border: none;
}


textarea, input, select {
  background-color: rgba(254, 254, 254, 0.55);
}

/* Responsive Styles */
/* Desktop */
@media only screen and (min-width: 1280px) {
  /* Add styles for desktop layout here */
}

/* Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Add styles for laptop layout here */
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mainwithh1 {
    flex-direction: column;
  }
  .upper-section {
    flex-direction: column;
  }
  .selectionfeedback, .input-area, .output-section, .feedback-section {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  .section-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  .map-section, .graph-section {
    width: 100%; /* Ensure equal width */
    margin: 0 auto;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
}

/* Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .mainwithh1, .upper-section {
    flex-direction: column;
  }
  .selectionfeedback, .input-area, .output-section, .feedback-section {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  .section-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  .map-section, .graph-section {
    width: 100%; /* Ensure equal width */
    margin: 0 auto;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
}

/* Small Mobile */
@media only screen and (max-width: 510px) {
  .mainwithh1, .upper-section {
    flex-direction: column;
  }
  .selectionfeedback, .input-area, .output-section, .feedback-section {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  .section-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  .map-section, .graph-section {
    width: 100%; /* Ensure equal width */
    margin: 0 auto;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
}
